<%= @student.name %>

<p>Addresses:</p>
<% @student.addresses.each do |address| %>
  <%= address.description %>
  <%= address.street %>
  <%= address.city %>
  <%= address.state %>
  <%= address.zip %>
<% end %>

<p>Courses:</p>

<% @student.courses.each do |course| %>
  <%= course.name %>
<% end %>
